<%- passed_entity = false %>
<%- (hierarchy_tags = %w(dealer corporation brand merchant)).each do |hierarchy_tag| %>

  <%- if passed_entity == true %>
  
    <%- descendants = entity_hierarchy.send(hierarchy_tag.pluralize) %>
    <%- if (count = descendants.size) == 0 %>
      no <%= hierarchy_tag.pluralize %>
    <%- else %>
    
      <%- if count == 1 %>

        <%= link_to(truncate((descendant = descendants.first).name, :length => 15), categorized_entity_url(descendant, hierarchy_tag)) %>
        
      <%- else %>

        <select>
          <option value=''>
            <%= "#{count} #{hierarchy_tag.pluralize}" %>
          </option>
          <%- descendants.each do |descendant| %>
            <option onclick="window.location='<%= categorized_entity_url(descendant, hierarchy_tag) %>';">
              <%= truncate(descendant.name, :length => 15) %>
            </option>
          <%- end %>
        </select>

      <%- end  %>

    <%- end %>
    
  <%- elsif entity_hierarchy == entity_hierarchy.send(hierarchy_tag) %>
  
    <%= link_to(entity_hierarchy.name, categorized_entity_url(entity_hierarchy, hierarchy_tag), :style => "color:seagreen;") %>
    <%- passed_entity = true %>
    
  <%- else %>

    <%- next unless allowed_to?(:view, hierarchy_tag.pluralize) %>
    <%- ancestor = entity_hierarchy.send(hierarchy_tag) || eval(hierarchy_tag.titleize).new %>
    <%= link_to(truncate(ancestor.name, :length => 15), categorized_entity_url(ancestor, hierarchy_tag)) %>
    
  <%- end  %>
  <%- unless hierarchy_tag == hierarchy_tags.last %>&nbsp;&gt;&nbsp;<% end %>
<%- end %>
