<!DOCTYPE html>
<html>
<head>
  <title>Permissify Example</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='welcomeBar'>
  </div>
  <div id="pageContainer">
    
    <ul id="userStatus">
      <li> Welcome,&nbsp; </li>
      <li>
        <a id="my_profile" href="<%= current_user_edit_path %>">
          <%= current_user.login %>
        </a>
      </li>
      <li>|</li>
      
      <li class="logout">
        <a href="/logout">
          logout
        </a>
      </li>
    </ul>
    
    <%- @entity = nil unless params[:id] || params[:entity_id] || params[@entity_key] %>
    <div style="background-color:#888888; padding:2px;">
      <ul id="mainNav">

        <%- Ability.all.collect{|a| a[:action] if a[:key].start_with?('tabs_') && a[:action] != 'Admin'}.compact.reverse.each do |tab_name| %>
          <%- next unless allowed_to?(tab_name.downcase, :tabs) %>
          <li <%= "class='active'" if @active_tab == tab_name.downcase %> >
            
            <%- count = (entities = current_user.entity.send(tab_name.downcase)).count %>
          
            <a href="<%= send("#{tab_name.downcase.pluralize}_path") %>">
              <%= count %> <%= tab_name %>
              <%- if @current_entity %>
                <%- if (ancestor = @current_entity.send(tab_name.downcase.singularize)) %>
                    <span style="color:<%= @current_entity == ancestor ? 'seagreen' : '#888888' %>;" onclick="window.location='<%= send("#{tab_name.downcase.singularize}_path", ancestor) %>'; return false;">
                      &nbsp;&gt; <%= truncate(ancestor.name, :length => 8) %>
                    </span>
                <%- elsif @current_entity.respond_to?(tab_name.downcase) %>
                    <span style="color:olive;" onclick="window.location='<%= send("entity_#{tab_name.downcase}_path", @current_entity.class.name, @current_entity.id) %>'; return false;">
                      &nbsp;: <%= @current_entity.send(tab_name.downcase).count %>&nbsp;
                    </span>
                <%- end  %>
              <%- end %>
            </a>

          </li>
        <%- end %>
        
        <%- if allowed_to?(:admin, :tabs) %>
          <li <%= "class='active'" if @active_tab == 'admin' %> >
            <a href="<%= admins_path %>">Admin</a>
          </li>
        <%- end %>
        
      </ul>
    
      <div style="background-color:white; padding:12px;">
        <%- unless @active_section.blank? %>
          <div id='sidebar'>
            <ul id="menu_secondary">
              <%= render(:partial => 'layouts/nav_item', :collection => [@active_nav], :locals => {:li_html_options => "class='active_subnav'"}) %>
              <%= render(:partial => 'layouts/nav_item', :collection => inactive_nav_items) %>
            </ul>
            <br/>
          </div>
        <%- end %>
        <div id="mainContent">
          <div style="border:2px solid grey; padding:5px;">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
