<!DOCTYPE html>
<html>
<head>
  <title>Permissify Example</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='welcomeBar'>
  </div>
  <div id="pageContainer">
    
    <%= form_for( (@user_session = UserSession.new), :url => user_session_path ) do |f| %>
      <ul id="userStatus">
        <li> Welcome,&nbsp; </li>
        <li>
          <a id="my_profile" href="<%= current_user_edit_path %>">
            <%= current_user.login %>
          </a>
        </li>

        <li>|</li>
      
        <%- other_users = User.all.select{|u| current_user != u}.sort{|u1,u2| u1.login <=> u2.login}.collect(&:login) %>
        <%- if other_users.size > 0 %>
          <li>
            <%= f.select :login, other_users.unshift(['change to user','']), {}, {:onchange => "$('#new_user_session').submit();"} %>
            <input type="hidden" name="user_session[password]" value="password1"/>
          </li>
        
          <li>|</li>
        <%- end %>
        
        <li class="logout">
          <a href="/logout">
            logout
          </a>
        </li>
      </ul>
    <%- end %>
    
    <%- @entity = nil unless params[:id] || params[:entity_id] || params[@entity_key] %>
    <div style="background-color:#888888; padding:2px;">
      <ul id="mainNav">

        <%- Ability.all.collect{|a| a[:action] if a[:key].start_with?('tabs_') && a[:action] != 'Admin'}.compact.reverse.each do |tab_name| %>
          <%- next unless allowed_to?(tab_name.downcase, :tabs) %>
          <li <%= "class='active'" if @active_tab == tab_name.downcase %> >
            
            <%- if tab_name.start_with?(current_user.entity_type) %>
              <a href="<%= send("#{tab_name.downcase.singularize}_path", current_user.entity) %>">
                <%= truncate(current_user.entity.name, :length => 30) %>
              </a>
              <%- next %>
            <%- end %>
            
            <%- count = (entities = current_user.entity.send(tab_name.downcase)).count %>
          
            <a href="<%= send("#{tab_name.downcase.pluralize}_path") %>">
              <%= count %> <%= tab_name %>
              <%- if @current_entity %>
                <%- if (ancestor = @current_entity.send(tab_name.downcase.singularize)) %>
                    <span style="color:<%= @current_entity == ancestor ? 'seagreen' : '#888888' %>;" onclick="window.location='<%= send("#{tab_name.downcase.singularize}_path", ancestor) %>'; return false;">
                      &nbsp;&gt; <%= truncate(ancestor.name, :length => 8) %>
                    </span>
                <%- elsif @current_entity.respond_to?(tab_name.downcase) %>
                    <span style="color:olive;" onclick="window.location='<%= send("entity_#{tab_name.downcase}_path", @current_entity.class.name, @current_entity.id) %>'; return false;">
                      &nbsp;: <%= @current_entity.send(tab_name.downcase).count %>&nbsp;
                    </span>
                <%- end  %>
              <%- end %>
            </a>

          </li>
        <%- end %>
        
        <%- if allowed_to?(:admin, :tabs) %>
          <li <%= "class='active'" if @active_tab == 'admin' %> >
            <a href="<%= admin_users_path(Admin.first) %>">Admin</a>
          </li>
        <%- end %>
        
      </ul>
    
      <div style="background-color:white; padding:12px;">
        <%- unless @active_section.blank? %>
          <div id='sidebar'>
            <ul id="menu_secondary">
              <%= render(:partial => 'layouts/nav_item', :collection => [@active_nav], :locals => {:li_html_options => "class='active_subnav'"}) %>
              <% sorted_inactive_nav_items.each do |nav_item| %><%= @nav_list[nav_item] %><% end %>
            </ul>
            <br/>
          </div>
        <%- end %>
        <div id="mainContent" style="border:2px solid grey; padding:5px;min-height:300px">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
